/* responsive */

@media (max-width: 768px) {
    .col {
        flex-basis: content;
    }

    #section1.header__main {
        height: 700px !important;
    }

    #section1 .title {
        margin-top: 30%;
    }

    #section2 {
        padding: 3em 0;
    }

    .couple-half .groom img,
    .couple-half .bride img {
        width: 125px;
        height: 125px;
    }


    #section2 .couple-half {
        width: 100%;
    }

    #section3 {
        height: auto !important;
    }

    .event-mb {
        display: block;
    }

    .event-wrap {
        position: relative;
        margin-bottom: 15px;
    }

    #section3 .display-t {
        height: inherit;
    }

    #section3 .display-tc {
        height: inherit;
    }

    .heart {
        display: none;
    }


    .fh5co-heading {
        margin-bottom: 3em;
    }

    .fh5co-heading h2 {
        font-size: 40px;
    }

    .testimonial .testimony-slide blockquote {

        width: 100% !important;

    }

    .contact-title h2 {
        font-size: 40px;

    }

    #section5 {
        padding: 2em 0;

    }

    .content-sub h2 {
        font-size: 60px;
    }

    .content-sub span {
        font-size: 20px;
    }

    #countdown>.simbly-section,
    #countdown>.simbly-section>div {
        width: 75px;
        height: 75px;
    }

    .simply-word {
        font-size: 10px;
    }

    .simply-amount {
        font-size: 23px;
    }

    #section1 .title {
        flex-direction: column;
        gap: 0.5rem;
        font-size: 70px;
    }

    .slider-item img {
        width: 100%;
        height: 78vh;
        background-size: cover;
        object-fit: cover;
    }

    /* section4 */

    .gallery-list {
        grid-template-columns: 1fr;
        grid-auto-rows: 140vw;
        grid-gap: 2vw;
    }

    /* end section4 */

    /* section6 */
    .guest-wrap {
        padding: 20px;
        margin: 20px auto
    }

    /* end section6 */

}