/* responsive */

@media (max-width: 768px) {
    .col {
        flex-basis: content;
    }

    #section1.header__main {
        height: 700px !important;
    }

    #section1 .title {
        margin-top: 30%;
    }

    #section2 {

    padding: 3em 0;
    }
.couple-half .groom img,
.couple-half .bride img {
    width: 125px;
    height: 125px;
}


#section2 .couple-half {

width: 100%;

}

#section3 {

height: auto !important;

}

.event-mb {

display: block;

}

.event-wrap {

position: relative;

margin-bottom: 15px;

}

#section3 .display-t {

height: inherit;

}

#section3 .display-tc {

height: inherit;

}

.heart {

display: none;

}

#fh5co-gallery-list li.one-third {

width: 49%;

}

.fh5co-heading {
    margin-bottom: 3em;
}

.fh5co-heading h2 {

font-size: 40px;

}

#fh5co-gallery-list li a .case-studies-summary {

bottom: 1em;

left: 1em;

right: 1em;

}

.testimonial .testimony-slide blockquote {

width: 100% !important;

}

.contact-title h2 {

font-size: 40px;

}

#section5 {

padding: 3em 0;

}

.content-sub h2 {
    font-size: 60px;
}
.content-sub span {
    font-size: 20px;
}
}