@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400;500;600;700&display=swap');

h3 {
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.row {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 20px;
}

ul {
    padding: 0;
}

#section1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

#section1  {
    background-size: cover;
    background-image: url(/images/banner-main/0U8A8212-min.JPG);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_main .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}

.header_main_content {
    color: #fff;
    margin-top: -8em;
}

.col-md-offset-2 {
    margin: auto;
}

.col-md-offset-2 > img {
    max-width: 80px;
    margin-bottom: 24px;
}

.col-md-offset-2 > h4.sub-title {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: #fff;
    font-size: 30px;
}

.col-md-offset-2 > h1.title {
    margin-bottom: 0px;
    font-size: 80px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    text-transform: none !important;
}

.col-md-offset-2 > h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 30px;
}

.btn-save-date {
    padding: 15px 20px;
    background: #fff !important;
    color: #F14E95;
    border: none !important;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-save-date:hover {
    background: #fff !important;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

.page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.page-wrapper p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #838383;
    line-height: 1.6em;
    margin: 0 0 1.5em;
}

#section2 {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
}

/* form greetings */
.guest-wrap {
    background: rgba(255,255,255,.9);
    padding: 70px;
}
.contact-title h2 {
    position: relative;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 25px;
    color: #649e93;
    margin-top: 0;
}

.page-wrapper .contact-title p {
    color: #5a5858;
    font-size: 18px;
}

#countdown {
    color: #333;
    margin: 2em auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}


#countdown > .simbly-section{
    display: inline-block;
        width: 100px;
        height: 100px;
        background: rgba(241, 78, 149, 0.8);
        margin: 0 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        animation: pulse 1s ease infinite;
}

#countdown > .simbly-section > div {
        display: table-cell;
        vertical-align: middle;
        height: 100px;
        width: 100px;
}

#countdown > .simbly-section .simply-amount {
    display: block;
    color: white;
}

.simply-amount {
    font-size: 30px;
}

.simply-word {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 12px;
}

.desc-bride p,
.desc-groom p
 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
}

.fh5co-heading {
    margin-bottom: 5em;
}

.fh5co-heading h2 {
    font-size: 60px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #F14E95;
    font-family: 'Dancing Script', cursive;
}

.fh5co-heading p {
    font-size: 18px;
    line-height: 1.5;
    color: #828282;
}

.js .animate-box {
    opacity: 0;
}

.couple-half h3 {
    font-family: 'Dancing Script', cursive;
    color: #F14E95;
    font-size: 30px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated-fast {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.couple-wrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.couple-half {
    width: 50%;
    float: left;
}

.couple-half .groom {
    float: right !important;
    margin-right: 5px;
}

.couple-half .bride {
    float: left;
    margin-left: 5px;
}

.couple-half .desc-bride {
    padding-left: 180px;
    text-align: left;
}

.couple-half .groom,
.couple-half .bride {
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.couple-half .desc-groom {
    padding-right: 180px;
    text-align: right;
}

.heart {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    z-index: 99;
    animation: pulse 1s ease infinite;
}

.heart i {
    font-size: 20px;
    background: #fff;
    padding: 20px;
    color: #F14E95;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.icon-heart2:before {
    content: "\e9b5";
}

.couple-half .groom img,
.couple-half .bride img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
}

/* section3 */

#section3 {
    padding: 7em 0;
    clear: both;
    height: 850px;
    background: url(../images/section3/img_bg_3.jpg);
}

.event .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

#section3 .event-wrap span,
#section3 .event-wrap p {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

#section3 .fh5co-heading h2 {
    color: #fff;
}

.event {
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.fh5co-heading span {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.event-wrap {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 100%;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.event-wrap h3 {
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.event-wrap .event-col {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.event-wrap i {
    color: white;
    font-size: 20px;
}

.col-md-offset-1 {
    margin-left: 8.33333%;
}

/* section4 */

#section4 {
    padding: 7em 0;
    clear: both;
    height: 125vh;
}

.testimonial .testimony-slide figure img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.testimonial .testimony-slide blockquote {
    border: none;
    margin: 30px auto;
    width: 50%;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.testimonial .testimony-slide blockquote p {
    font-style: italic;
    color: #8f989f;
    font-size: 20px;
    line-height: 1.6em;
}

.testimonial .testimony-slide span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: block;
}

.testimonial .testimony-slide span a.twitter {
    color: #F14E95;
    font-weight: 300;
}

.testimonial .fh5co-heading span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.slick-slide img {
    display: inline-block;
}

/* slick */
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: pink;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}









